doctype html
html
  head
    title 검색말고 그냥 봐 한신대 ver.
    meta(name='viewport', content='width-device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
  body
    div
        span 한신대 게시판 알리미
        div.navbar-collapse.collapse
            ul.nav.navbar-nav.pull-right
                li
                    a.btn.btn-rounded(href='/auth/login') SIGN IN / SIGN UP
                li
                    a.btn.btn-rounded Setting
    div.btn-group.btn-group-justified
      a.btn.btn-primary(href='/notice/hacksa') 학사공지
      a.btn.btn-success(href='/notice/scholarship') 장학/사회봉사
      a.btn.btn-info(href='/notice/recruit') 취업공지


    .table-responsive
      table.table
        thead
          tr
            th 번호
            th 제목
            th 등록일
        tbody
        if posts
          each post in posts
            tr
              td=post.BOARD_NO
              td
                a(href="http://www.hs.ac.kr/kor/community/"+post.LINK_NM
                target="_blank" border="0")=post.TITLE_NM
              td=post.REGISTRATION_DATE_DT
        else
          tr
            td
            td 데이터 없음
        tfoot
          tr
            td
            td.text-center
              //- ul.pagination.pagination-sm
              //-     li.active
              //-       a(href='#') 1
              //-     |
              //-     li
              //-       a(href='#') 2
              //-     |
              //-     li
              //-       a(href='#') 3
              //-     |
              //-     li
              //-       a(href='#') >
              //-     |
              //-     li
              //-       a(href='#') 끝
            td
      div
