doctype html
html
  head
    title 검색말고 그냥 봐 한신대 ver.
    meta(name='viewport', content='width-device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
  body
    h2 검색말고 그냥 봐, 한신대 ver
    a.btn.btn-primary(href='/notice/hacksa') 학사공지
    a.btn.btn-success(href='/notice/scholarship') 장학/사회봉사
    a.btn.btn-info(href='#') 취업공지
    //a.btn.btn-danger.active(href='#') a - active
    .table-responsive
      table.table
        thead
          tr
            th 번호
            th 제목
            th 등록일
        tbody
        if posts
          each post in posts
            tr
              td=post.number
              td 
                a(href="http://www.hs.ac.kr/kor/community/"+post.link 
                target="_blank" border="0")=post.title
              td=post.registration_date
        else 
          tr
            td 
            td 데이터 없음
        tfoot
          tr
            td
            td
            td
